
  .user-box{
    border-style: solid;
    width: 350px;
    height: 300px;
    border-color:#F1F1F1;
    margin-top: 50px;
    margin-left: 10px;
    text-align: center;

}
.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
    margin-left:0px;
    margin-top:0px;
    margin-right: 0px;

  }
  
  .flex-container > div {
   
    background-color: #f0ee88;
    width: 150px;
    height: 200px;
    margin: 30px;
    text-align: center;
    padding: 36px;
    font-size: 15px;
    border-radius: 20%;
  }
  img {
    border-radius: 20%;
    margin-left: 10px;
   
  }
  
  .button{
    background-color: #489906; /* Green */
    border: none;
    color: white;
    border-radius: 7px;
    font-size: 26px;
    margin-top: 40px;
    
    
}
.add{
    align-self: right;
}
label{
  font-size: large;
  font-style: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  